.Header {
    width: 100vw;
    height: var(--topbar-h);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(20, 30, 50);
    z-index: 110;
    overflow: hidden;
}

.Image {
    height: 80%;
    position: absolute;
    border-radius: calc(var(--topbar-h) * 0.5);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: BubblyCat 7s ease-in-out infinite alternate, 
        RotateCat 9s linear infinite alternate;
}
  
@keyframes BubblyCat {
    to {
        transform: translate(+300%, -50%);
    }
}

@keyframes RotateCat {
    to {
        transform: translateY(-50%) rotateZ(360deg);
    }
}

.Items {
    background-color: transparent;
    min-width: 60px;
    font-size: 18px;
    color: #aaa;
    font-weight: 600;
    padding: 2px;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-left: 12px;
    box-sizing: content-box;
    font-family: "IranSans";
}

.Items:hover {
    text-decoration: underline;
}

.Navigator {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.Container {
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
