/* @import "https://unpkg.com/open-props"; */

@font-face {
  font-family: "IranSans";
  src: url('assets/fonts/IranSans.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  unicode-range: U+06??;
}

@font-face {
  font-family: "Koodak";
  src: url('assets/fonts/Koodak.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  unicode-range: U+06??;
}

@font-face {
  font-family: "FiraSans";
  src: url('assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

.Container {
  width: 100%;
}

:root {
    --topbar-h: var(--size-10);
    --footer-h: var(--size-9);
    --blog-card-h: var(--size-14);
    --blog-card-bg: var(--sand-0);
    --blog-card-margin-v: var(--size-5);
    --background-color: var(--indigo-1);
    --topbar-bg: var(--blue-8);
    --topbar-bg-hover: var(--blue-7);
    --topbar-color: var(--blue-0);
}

body {
    background-color: var(--background-color);
    direction: rtl;
    font-family: "IranSans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
}

p {
    text-indent: var(--size-3);
    text-align: justify;
    font-family: "Koodak", "FiraSans";
}
