@font-face {
  font-family: "IranSans";
  src: url('assets/fonts/IranSans.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

:root {
    --topbar-h: 75px;
    --min-width: 375px;
}

.Container {
    direction: rtl;
}
